.header{
    background: rgb(1, 90, 126);
}

.header__content{
    background-color: rgb(62, 0, 87);
    display: flex;
    padding-bottom: 20px;
}

.header__title{
    color: white;
    text-decoration: none;
    h1{
        margin: 0;
    }
}

.page-header{
    padding: $l-size 0;
}

.page-header__title{
    margin: 0;
    font-weight: bold;
}